.navColor {
  background-color: rgb(131, 56, 236);
  color: rgb(255, 255, 255);
  font-size: large;
}

/* Theme color button */
.labelFormSize {
  width: 200px;
}

/* Text Logger */
.responsePrint {
  min-height: 400px;
  overflow-x: hidden;
  word-break: break-all;
}
.inputStyle {
  overflow-x: hidden;
  word-break: break-all;
}

/* animation-loading */
#loader {
  z-index: 1;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid  rgb(180, 130, 240);
  border-bottom: 16px solid blue;
  border-left: 16px solid rgb(180, 130, 240);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* animations-page" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }
  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

/* Loading */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
  z-index: 999;
}

.spinner-box {
  width: 120px;
  height: 120px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Content */
.section-content {
  min-height: calc(100vh - 81px - 112px);
  background-color: antiquewhite;
}

/* Dividing line */
.verticalHr{
  border-left: 0px solid;
}

/* Media queries */
@media screen and (max-width: 575px) {
  .labelFormSize {
    width: 120px;
    float: left;
  }
  .footer{
    font-size: x-small;
    height: 30%;
  }
}

@media screen and (min-width: 575px) {
  .verticalHr{
    border-left: 3px solid;
  }
}

/* Footer */
.footerAnchorTags{
  color: white;
  text-decoration-line: none;
}
.footer {
  background-color: rgb(131, 56, 236);
}